## Python statistics essential training - 03_05_categorical

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

import pandas.plotting

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [4]:
smoking = pd.read_csv('whickham.csv')
#this dataset records survey data of women smokers over course of 20 years 
#to see if they were still alive

In [5]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   outcome  1314 non-null   object
 1   smoker   1314 non-null   object
 2   age      1314 non-null   int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [ ]:
#smoker and outcome are categorical variables (binary, y/n, alive/dead)

In [6]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [7]:
pd.DataFrame(smoking.smoker.value_counts())

     smoker
No      732
Yes     582

In [8]:
pd.DataFrame(smoking.outcome.value_counts())

       outcome
Alive      945
Dead       369

In [9]:
pd.DataFrame(smoking.outcome.value_counts(normalize=True)) 
#see the values as fractions/percentage, aka proportions

        outcome
Alive  0.719178
Dead   0.280822

In [10]:
#break out the proportion of outcomes by smoker group
bysmoker = smoking.groupby("smoker").outcome.value_counts(normalize=True)
bysmoker

smoker  outcome
No      Alive      0.685792
        Dead       0.314208
Yes     Alive      0.761168
        Dead       0.238832
Name: outcome, dtype: float64

In [11]:
bysmoker.index

MultiIndex([( 'No', 'Alive'),
            ( 'No',  'Dead'),
            ('Yes', 'Alive'),
            ('Yes',  'Dead')],
           names=['smoker', 'outcome'])

In [12]:
bysmoker.unstack()

outcome     Alive      Dead
smoker
No       0.685792  0.314208
Yes      0.761168  0.238832

This is somewhat surprising! it seems that smoking actually improves the outcome (i.e. 76% Alive vs non-smoker at 68%). The problem is we aren't controlling for other variables such as age. For example, if majority of smokers were younger, than majority would be alive by the end of the study versus older at 20 years later.

In [13]:
#stratification - divide cases into age groups into pandas cut method
#cut generates categorical levels based on a set of bins, here we use 0-30,30-40,etc
smoking['ageGroup'] = pd.cut(smoking.age,[0,30,40,53,64],labels=['0-30','30-40','40-53','53-64'])
smoking['ageGroup'].head()

0     0-30
1     0-30
2      NaN
3      NaN
4    53-64
Name: ageGroup, dtype: category
Categories (4, object): [0-30 < 30-40 < 40-53 < 53-64]

In [14]:
#we have some as NaN for smokers older than 64
#we can exclude them from this example

#break out the proportion of outcomes by smoker group and age group
byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)

In [16]:
byage

ageGroup  smoker  outcome
0-30      No      Alive      0.981818
                  Dead       0.018182
          Yes     Alive      0.975610
                  Dead       0.024390
30-40     No      Alive      0.955224
                  Dead       0.044776
          Yes     Alive      0.940678
                  Dead       0.059322
40-53     No      Alive      0.876106
                  Dead       0.123894
          Yes     Alive      0.802395
                  Dead       0.197605
53-64     No      Alive      0.669291
                  Dead       0.330709
          Yes     Alive      0.580645
                  Dead       0.419355
Name: outcome, dtype: float64

In [17]:
byage.unstack()

outcome             Alive      Dead
ageGroup smoker
0-30     No      0.981818  0.018182
         Yes     0.975610  0.024390
30-40    No      0.955224  0.044776
         Yes     0.940678  0.059322
40-53    No      0.876106  0.123894
         Yes     0.802395  0.197605
53-64    No      0.669291  0.330709
         Yes     0.580645  0.419355

In [18]:
byage.unstack().drop("Dead",axis=1) #drop dead column from unstacked view

outcome             Alive
ageGroup smoker
0-30     No      0.981818
         Yes     0.975610
30-40    No      0.955224
         Yes     0.940678
40-53    No      0.876106
         Yes     0.802395
53-64    No      0.669291
         Yes     0.580645

What we see is that in each group, no smokers have better life expectancy